footer {
    margin-bottom: 3vh;

    @include ipad {
        @include container($ipad)
    }

    @include ipadPro {
        @include container($ipadPro)
    }

    @include laptop13 {
        @include container($laptop13)
    }

    @include laptop {
        @include container($laptop)
    }

    @include pc {
        @include container($pc)
    }

    
}

#footer-container {
    grid-column: 2 / 14;
    display: flex;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding-top: 60px;
    justify-content: center;

    @include ipadPro {
        justify-content: space-between;
    }
}

#footer-text {
    max-width: 30%;
}

#footer-text img {
    width: 36px;
    height: 36px;
}

#footer-text #logo {
    @include logo;
    margin-bottom: 26px;
}

#footer-text p {
    color: #565656;
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 40px;
}

#footer-logo {
    display: flex;
    margin-bottom: 29px;
}

#footer-logo img {
    margin-right: 16px;
}

#footer-link {
    display: flex;
    gap: 4vw;
    display: none;

    @include ipadPro {
        display: contents;
    }
}

#footer-link h3 {
    font-size: 20px;
    margin-bottom: 24px;
}

#footer-link li {
    font-size: 14px;
    line-height: 200%;
}

#copyright {
    grid-column: 2 / 14;
    grid-row: 2;
    display: flex;
    justify-content: center;
    color: #A4A4A4;
    font-size: 14px;
    line-height: 160%;
    margin-top: 17px;
}